{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>SeGo Shooping - Login</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="{% static 'css/loadingstyle.css' %}" rel="stylesheet">
  <link href="{% static 'css/style1.css' %}" rel="stylesheet">
</head>

<body>
    <div id="loader">
    	
    </div>
    
    <div class="container">
        <h2>SeGo Shopping</h2>
        <h4>Login</h4>
        <img src="{% static 'css/img/img-01.webp' %}">
        
        <div class="box">
            <form action="" method="POST" id="loginform">
              {% csrf_token%}
              <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
            </form>
            <button type="submit" form="loginform" value="Submit" class="btn btn-primary addon">Login</button>
        </div>

        <a class="newAccount" href="register">Create a new account</a>
        
        <div id="ErrorMessage">
            {% for message in messages %}
            <h1>{{message}}</h1>
            {% endfor %}
        </div>
    </div>
    
    
    
    <script src="{%static 'js/app.js'%}"></script>
</body>

</html>