{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="{% static 'css/loadingstyle.css' %}" rel="stylesheet">
  <link href="{% static 'css/style1.css' %}" rel="stylesheet">
</head>

<body>
    <div id="loader">
    	
    </div>
    
    <div class="container">
        <h2>Shopping Cart</h2>
        <h4>Register</h4>
        <form class="box register" action = "register" method="post" id="registerform">
            {% csrf_token%}
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input class="form-control" type="text" name="first_name" placeholder="First Name" required>
            </div>

            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input class="form-control" type="text" name="last_name" placeholder="Last Name" required>
            </div>
            
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input class="form-control" type="text" name="phone" placeholder="Phone Number" required>
            </div>
            
            <div class="form-group">
                <label for="address">Full Address</label>
                <input class="form-control" type="text" name="address" placeholder="Full Address" required>
            </div>
            
            <div class="form-group">
                <label for="city">City</label>
                <input class="form-control" type="text" name="city" placeholder="City" required>
            </div>
            
            <div class="form-group">
                <label for="zip">Zip</label>
                <input class="form-control" type="text" name="zip" placeholder="Zip Code" required>
            </div>
            
            <p>Address Type</p>
                <div class="radio">
                  <input type="radio" id="home" name="address_type" value="HOME" checked="checked">
                  <label for="home">Home</label><br>
                  <input type="radio" id="office" name="address_type" value="OFFICE">
                  <label for="office">Office</label>
                </div>
            <div class="form-group">
                <label for="password1">New Password</label>
                <input class="form-control" type="password" name="password1" placeholder="New Password" required>
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input class="form-control" type="password" name="password2" placeholder="Confirm Password" required>
            </div>
        </form>
        <button type="submit" form="registerform" value="Submit" class="register_btn">Register</button>
        
        <div id="ErrorMessage">
        {% for message in messages %}
        <h1>{{message}}</h1>
        {% endfor %}
    </div>
        
    </div>


    <script src="{%static 'js/app.js'%}"></script>
</body>

</html>