{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="{% static 'css/style1.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h2>Shopping Cart</h2>
        <h4>Register</h4>
        <form class="box register">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input class="form-control" type="text" name="first_name" placeholder="First Name">
            </div>
            
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input class="form-control" type="text" name="last_name" placeholder="Last Name">
            </div>
            
            <div class="form-group">
                <label for="password">password</label>
                <input class="form-control" type="text" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    
</body>

</html>