{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Shopping List</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="{% static 'css/style1.css' %}" rel="stylesheet">
    <link href="{% static 'css/loadingstyle.css' %}" rel="stylesheet">
  
</head>

<body>
    <div id="loader">
    	
    </div>


    <div id="Account">
        {% if user.is_authenticated%}
        <h3>Hello,{{user.first_name}}</h3>
        <h3><a href="/logout">Logout</a></h3>
        {% else %}
        <h3><a href="/register">Register</a></h3>
        <h3><a href="/">Login</a></h3>
        <h1>You have to be logged in to purchase products</h1>
        {% endif %}
    </div>
    


    <div class="container2">
        <div class="row">
            <div class="col1">
                <h1>No.</h1>
            </div>
            <div class="col2 mid">
                <h1>Product Name</h1>
            </div>
            <div class="col3">
                <h1>Quantity</h1>
            </div>
        </div>
        <hr>
        <!--
        <div class="userproduct">
            <div class="form-control-lg">
                <input id="proname" placeholder="Enter Product name here">
                <input id="qty" placeholder="Enter Product Quantity here">
                <button class="add">ADD</button>
            </div>
        </div>
        -->
        
        <!-- for list item
        <div class="row">
            <div class="col1">
                <h1>1</h1>
            </div>
            <div class="col2">
                <h1>juice</h1>
            </div>
            <div class="col3">
                <h1>2</h1>
            </div>
        </div>
        -->
        
        <!-- for showing the search results
        <div class="row options">
            <div class="col2">
                <h1>product1</h1>
            </div>
            <button type="button">ADD</button>
        </div>
        -->
        <!-- display this when no result is found
        <div id="noresults" class="animated fadeIn">
            <img src="{%static 'css/img/cartLogo.png'%}">
            <h2>Opps no results found!</h2>
        </div>
        -->
        <!--modified blocks
        <div class="row options res" id='choice'+7>
            <div class="col2">
                <h1>samplesdd</h1>
                <h4>Stocks:2</h4>
                <h4>1000 Rs</h4>
            </div>
            <input class="qty" type="Number" id="qty" placeholder="Enter Product Quantity here">
            <button type="button">ADD</button>
            <input type="hidden" name="productId" value="3487">
            <input type="hidden" name="productdiscount" value="10">
        </div>
        
        <div class="row">
            <div class="col1">
                <h1>no</h1>
            </div>
            <div class="col2">
                <h1>name</h1>
            </div>
            <div class="col3">
                <h1>12</h1>
            </div>
            <input type="hidden" name="productId" value="3487">
            <input type="hidden" name="productdiscount" value="10">
        </div>
        -->
        <img id="addbtn" src="{%static 'css/img/add.png'%}">
    </div>
    <button type='button' class="buy_button">Buy Now</button>
  {{ products|json_script:"products-data" }}
  <script src="{%static 'js/app.js'%}"></script>
</body>

</html>